<!doctype html>
<link href="/static/style.css" rel="stylesheet" type="text/css">
<head><title>Welcome page</title>
</head>
<body>
    <h1> 𝕎𝕖𝕝𝕔𝕠𝕞𝕖 𝕥𝕠 𝔻𝕖𝕒𝕥𝕙𝕚𝕦𝕤 </h1>

</html>
<style>
.button {
  background-color: Black;
  border: 0.1em white solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 825px;
  cursor: pointer;
}

.button {width: 250px;}

</style>
</head>
<body>

<form action="https://deathius.squidius.repl.co/signup">
<button class="button">ℂ𝕝𝕚𝕔𝕜 𝕙𝕖𝕣𝕖 𝕥𝕠 𝕤𝕚𝕘𝕟 𝕦𝕡</button>
